#principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 25px;
    background-color: rgb(240, 239, 239);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.274);
}

.placar{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.placar input{
    width: 30px;
    height: 30px;
}

#dificuldade{
    display: flex;
}

#tabuleiro{
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

#p1{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#p2{
    border-bottom: 1px solid black;
}

#p3{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#p4{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#p5{
    border-bottom: 1px solid black;

}

#p6{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#p7{
    border-right: 1px solid black;
}

#p9{
    border-left: 1px solid black;
}

.posJogo{
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#resultado{
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

input[type='button']{
    margin-bottom: 20px;
}